@model HomeFinder.Models.Reports.MostViewedDistrictsReportVm
@using System.Text.Json

@{
    var payload = new
    {
        labels = Model.Items.Select(x => x.District).ToList(),
        data = Model.Items.Select(x => x.TotalViews).ToList()
    };
    var json = JsonSerializer.Serialize(payload);
}

<div id="chartBlock">
    <canvas id="districtsChart" style="min-height: 320px;"></canvas>
</div>

<script id="jsonBlock" type="application/json">@Html.Raw(json)</script>
